@model ProjectFinal.NET.Data.Category

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="padding: 0 16px 30px 16px;">
    <h2>Create Category</h2>

    <h4>Category</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" style="display:flex;align-items: center;margin-bottom: 12px;">
                    <label asp-for="CateName" class="control-label" style="min-width: 120px;"></label>
                    <input asp-for="CateName" class="form-control" style="width: 42%;" />
                    <span asp-validation-for="CateName" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin: 20px 0;">
                    <input type="submit" value="Create" class="btn btn-primary" 
                            style="font-size: 17px; padding: 2px 20px; border-color: blue;color: blue;cursor: pointer;" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="CategoryManager" style="font-size: 18px;color: red;">Back to Manager</a>
    </div>
</div>
