@model ProjectFinal.NET.Data.Product

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div style="padding: 0 16px 30px 16px;">
    <h2>Product Edit</h2>

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdProduct" />
                <div class="form-group" style="display:flex;align-items: center;margin-bottom: 12px;">
                    <label asp-for="NameProduct" class="control-label" style="min-width: 120px;"></label>
                    <input asp-for="NameProduct" class="form-control" style="width: 42%;" />
                    <span asp-validation-for="NameProduct" class="text-danger"></span>
                </div>
                <div class="form-group" style="display:flex;align-items: center;margin-bottom: 12px;">
                    <label asp-for="Image" class="control-label" style="min-width: 120px;"></label>
                    <input asp-for="Image" class="form-control" style="width: 42%;" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <div class="form-group" style="display:flex;align-items: center;margin-bottom: 12px;">
                    <label asp-for="PriceNew" class="control-label" style="min-width: 120px;"></label>
                    <input asp-for="PriceNew" class="form-control" style="width: 42%;" />
                    <span asp-validation-for="PriceNew" class="text-danger"></span>
                </div>
                <div class="form-group" style="display:flex;align-items: center;margin-bottom: 12px;">
                    <label asp-for="PriceOld" class="control-label" style="min-width: 120px;"></label>
                    <input asp-for="PriceOld" class="form-control" style="width: 42%;" />
                    <span asp-validation-for="PriceOld" class="text-danger"></span>
                </div>
                <div class="form-group" style="display:flex;align-items: center;margin-bottom: 12px;">
                    <label asp-for="Quantity" class="control-label" style="min-width: 120px;"></label>
                    <input asp-for="Quantity" class="form-control" style="width: 42%;" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
                <div class="form-group" style="display:flex;align-items: center;margin-bottom: 12px;">
                    <label asp-for="Description" class="control-label" style="min-width: 120px;"></label>
                    <input asp-for="Description" class="form-control" style="width: 42%;" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group" style="display:flex;align-items: center;margin-bottom: 12px;">
                    <label asp-for="IdBrand" class="control-label" style="min-width: 120px;"></label>
                    <input asp-for="IdBrand" class="form-control" style="width: 42%;" />
                    <span asp-validation-for="IdBrand" class="text-danger"></span>
                </div>
                <div class="form-group" style="display:flex;align-items: center;margin-bottom: 12px;">
                    <label asp-for="IdCate" class="control-label" style="min-width: 120px;"></label>
                    <input asp-for="IdCate" class="form-control" style="width: 42%;" />
                    <span asp-validation-for="IdCate" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin: 20px 0;">
                    <input type="submit" value="Save" class="btn btn-primary" style="font-size: 17px;
                                                                                padding: 2px 20px;
                                                                                border-color: blue;
                                                                                color: blue;
                                                                                cursor: pointer;" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="ProductManager" style="font-size: 18px;color: red;">Back to Manager</a>
    </div>
</div>
