@model ProjectFinal.NET.Models.RegisterVM
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="signup-form">
    <div class="title">Signup</div>
    <form asp-action="Register" enctype="multipart/form-data" method="post">
        <div class="input-boxes">
            <div class="input-box">
                <i class="fas fa-user"></i>
                <input asp-for="Email" type="email" placeholder="Email" required>
            </div>
            <div class="input-box">
                <i class="fas fa-envelope"></i>
                <<input asp-for="Password" type="password" placeholder="Password" required>

            </div>
            <div class="input-box">
                <i class="fas fa-lock"></i>
                <input asp-for="ConfirmPassword" type="password" placeholder="ConfirmPassword" required>
            </div>
            <div class="button input-box">
                <input type="submit" value="Signup">
            </div>
            <div class="text sign-up-text">Already have an account? <a href="/User/Login">Login now</a></div>
        </div>
    </form>
</div>

